.website-title {
        font-size: 38px;
        font-weight: bold;
      background-color: #4e7ba7;
        color: #ffffff;
}
body{
    background-color: #f9f984;
}
.box {
            border: 5px solid #092567;
            padding: 20px;
        }
.title-box {
            border: 3px solid #092567;
            display: inline-block;
            padding: 10px 20px;
            margin-bottom: 20px;
            background-color: #4e7ba7;
            color: #ffffff;
        }
.navBtn {
            border: 5px solid #3d6084;
            background: none;
            padding: 10px;
            width: 100%;
            background-color: #4e7ba7;
            font-weight: bold;
        }
.side-bar{
            border: 5px solid #092567;
            padding: 30px;
            margin-bottom: 20px;
            background-color: #e9e963;
        }
.sidebar-title {
            border: 5px solid #092567;
            display: inline-block;
            padding: 10px 20px;
            margin-bottom: 20px;
        }
.linkBtn {
            border: 5px solid #3d6084;
            background: none;
            padding: 10px;
            width: 100%;
            background-color: #4e7ba7;
            font-weight: bold;
        }
.link {
            color: #ffffff;
            text-decoration: none;
            font-weight: bold;
        }
img {
            border: 3px solid #092567
    }
li {
            color:#092567   
        }
h3 {
            color: #092567;
            font-weight: bold;
}
.header {
            font-size: 28px;
            font-weight: bold;
            color: #092567;
} 
#weather{
  border: 2px solid #092567;
  padding: 10px 20px;
  color:#42688f;
  background-color: #ffffff;
  text-align: center;
}
#datetime{
  border: 2px solid #092567;
  padding: 10px 20px;
  color:#42688f;
  background-color: #ffffff;
  text-align: center;
}